@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: linear-gradient(to right, purple, #131313);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.title {
  color: gray;
  margin-top: 3em;
}

#textarea {
  margin-top: 1.5em;
  width: 100%;
  height: 15vh;
  max-height: 15vh;
  padding: 1em 5em;
  border-radius: 50px;
  display: block;
}

#textarea:focus {
  outline: 0;
}

.tags {
  margin-top: 5em;
  border: 3px solid rgb(99, 85, 85);
  padding: 1em 2em;
}

.tag {
  background-color: pink;
  padding: 10px 20px;
  border-radius: 50px;
  color: purple;
  font-weight: 700;
  display: inline-block;
  font-size: 13px;
  margin: 0 5px 10px 0;
}

.tag.highlight {
  background-color: orange;
}

.form-group {
  margin-top: 3em;
}
